<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home_styles.css') }}">
    <title>SHL</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>SHL Server Dashboard</h1>
        </header>
        <div class="cards">
            <div class="card">
                <h2><a href="{{ url_for('index') }}">Home</a></h2>
                <p class="usage">/</p>
            </div>
            <div class="card">
                <h2><a href="{{ url_for('string_calculator') }}">String Calculator</a></h2>
                <p class="status">POST /stringcalc</p>
            </div>
        </div>
    </div>
</body>
</html>
